<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chutzpah" version="4.4.11" targetFramework="net462" />
  <package id="DynamicsCrm.DevKit.Analyzers" version="2.13.33" targetFramework="net462" />
  <package id="DynamicsCrm.DevKit.Cli" version="2.13.33" targetFramework="net462" />
</packages>