<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dynamics365.UIAutomation.Api" version="$Dynamics365.UIAutomation.Api.Version$" targetFramework="net$Dynamics365.UIAutomation.Api.TargetFramework$" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="$Microsoft.CrmSdk.CoreAssemblies.Version$" targetFramework="net$Microsoft.CrmSdk.CoreAssemblies.TargetFramework$" />
  <package id="Selenium.WebDriver" version="$Selenium.WebDriver.Version$" targetFramework="net$Selenium.WebDriver.TargetFramework$" />
  <package id="Selenium.Chrome.WebDriver" version="$Selenium.Chrome.WebDriver.Version$" />
  <package id="Selenium.Support" version="$Selenium.Support.Version$" targetFramework="net$Selenium.Support.TargetFramework$" />
  <package id="DynamicsCrm.DevKit.Cli" version="$DynamicsCrm.DevKit.Cli.Version$" />
  <package id="DynamicsCrm.DevKit.Analyzers" version="$DynamicsCrm.DevKit.Analyzers.Version$" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net462" />
</packages>