<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Url" value="" /><!-- Value is read from project .env: DEVKIT_URL -->
		<add key="ClientId" value="" /><!-- Value is read from project .env: DEVKIT_CLIENT_ID -->
		<add key="ClientSecret" value="" /><!-- Value is read from project .env: DEVKIT_CLIENT_SECRET -->
	</appSettings>
</configuration>
