using System;
using Microsoft.Xrm.Sdk;
using Microsoft.Xrm.Sdk.Extensions;
using <#=Context.PluginSharedNameSpace#>;

namespace <#=Context.PluginNameSpace#>
{
    [CrmPluginRegistration("<#=Context.PluginMessage#>", "<#=Context.PluginLogicalName#>", StageEnum.<#=Context.PluginStage#>, ExecutionModeEnum.<#=Context.PluginExecution#>, "", "<#=Context.PluginNameSpace#>.<#=Context.Class#>", 1, IsolationModeEnum.Sandbox, PluginType = PluginType.Plugin<#if(Context.IsNeedDeleteAsyncOperation){#>, DeleteAsyncOperation = true<#}#><#if(Context.PluginMessage=="Create" && Context.PluginStage=="PostOperation"){#>, Image1Name = "PostImage", Image1Alias = "PostImage", Image1Type = ImageTypeEnum.PostImage, Image1Attributes = "*"<#}#><#if(Context.PluginMessage == "Update" || Context.PluginMessage == "Delete"){#>, Image1Name = "PreImage", Image1Alias = "PreImage", Image1Type = ImageTypeEnum.PreImage, Image1Attributes = "*"<#}#><#if(Context.PluginMessage=="Update" && Context.PluginStage=="PostOperation"){#>, Image2Name = "PostImage", Image2Alias = "PostImage", Image2Type = ImageTypeEnum.PostImage, Image2Attributes = "*"<#}#>)]
    public class <#=Context.Class#> : IPlugin
    {
        /*
        <#=Context.PluginComment#>
        */

        //private readonly string unSecureConfiguration = null;
        //private readonly string secureConfiguration = null;
        //public <#=Context.Class#>(string unSecureConfiguration, string secureConfiguration)
        //{
        //    this.unSecureConfiguration = unSecureConfiguration;
        //    this.secureConfiguration = secureConfiguration;
        //}

        public void Execute(IServiceProvider serviceProvider)
        {
            var context = (IPluginExecutionContext)serviceProvider.GetService(typeof(IPluginExecutionContext));
            var serviceFactory = (IOrganizationServiceFactory)serviceProvider.GetService(typeof(IOrganizationServiceFactory));
            var serviceAdmin = serviceFactory.CreateOrganizationService(null);
            var service = serviceFactory.CreateOrganizationService(context.UserId);
            var tracing = (ITracingService)serviceProvider.GetService(typeof(ITracingService));
            if (context.Stage != (int)StageEnum.<#=Context.PluginStage#>) throw new InvalidPluginExecutionException("Stage does not equals <#=Context.PluginStage#>");
            if (context.PrimaryEntityName.ToLower() != "<#=Context.PluginLogicalName#>") throw new InvalidPluginExecutionException("PrimaryEntityName does not equals <#=Context.PluginLogicalName#>");
            if (context.MessageName.ToLower() != "<#=Context.PluginMessage#>".ToLower()) throw new InvalidPluginExecutionException("MessageName does not equals <#=Context.PluginMessage#>");
            if (context.Mode != (int)ExecutionModeEnum.<#=Context.PluginExecution#>) throw new InvalidPluginExecutionException("Execution does not equals <#=Context.PluginExecution#>");

            //tracing.DebugContext(context);

            ExecutePlugin(context, serviceFactory, serviceAdmin, service, tracing);
        }

        private void ExecutePlugin(IPluginExecutionContext context, IOrganizationServiceFactory serviceFactory, IOrganizationService serviceAdmin, IOrganizationService service, ITracingService tracing)
        {
<#if(Context.PluginMessage=="Create" || Context.PluginMessage=="Update"){#>
            var targetEntity = context.InputParameterOrDefault<Entity>("Target");
<#}else if(Context.PluginMessage=="CreateMultiple" || Context.PluginMessage=="UpdateMultiple"){#>
            var targetEntities = context.InputParameterOrDefault<EntityCollection>("Targets");
<#}else if(Context.PluginMessage=="Delete"){#>
            var targetEntityReference = context.InputParameterOrDefault<EntityReference>("Target");
<#}else{#>
            //var ??? = context.InputParameterOrDefault<???>("???");
<#}#>
<#if(Context.PluginMessage=="Update" || Context.PluginMessage == "Delete"){#>
            var preEntity = (Entity)context?.PreEntityImages?["PreImage"];
<#}#>
<#if((Context.PluginMessage=="Create" && Context.PluginStage=="PostOperation") || (Context.PluginMessage=="Update" && Context.PluginStage=="PostOperation")){#>
            var postEntity = (Entity)context?.PostEntityImages?["PostImage"];
<#}#>
            //YOUR PLUGIN-CODE GO HERE
        }
    }
}