using System.Activities;
using Microsoft.Xrm.Sdk;
using Microsoft.Xrm.Sdk.Workflow;
using <#=Context.PluginSharedNameSpace#>;

namespace <#=Context.PluginNameSpace#>
{
    [CrmPluginRegistration("<#=Context.Class#><#if(Context.PluginOrder!=1){#><#=Context.PluginOrder#><#}#>", "<#=Context.Class#><#if(Context.PluginOrder!=1){#><#=Context.PluginOrder#><#}#>", "", "<#=Context.PluginNameSpace#>", IsolationModeEnum.Sandbox, PluginType = PluginType.Workflow)]
    public class <#=Context.Class#><#if(Context.PluginOrder!=1){#><#=Context.PluginOrder#><#}#> : CodeActivity
    {
        // https://learn.microsoft.com/en-us/power-apps/developer/data-platform/workflow/workflow-extensions#add-parameters
        // Supported Input/Output types: bool, DateTime, Decimal, Double, EntityReference, int, Money, OptionSetValue, string

        //[Default("Default Input Value")]
        //[Input("Input Value")]
        //[ReferenceTarget("account")]
        //[RequiredArgument]
        //[AttributeTarget("account", "industrycode")]
        //public InArgument<EntityReference> InputValue { get; set; }

        //[Default("Default Output Value")]
        //[Output("Output Value")]
        //public OutArgument<string> OutputValue { get; set; }

        protected override void Execute(CodeActivityContext executionContext)
        {
            var workflowContext = executionContext.GetExtension<IWorkflowContext>();
            var tracing = executionContext.GetExtension<ITracingService>();
            var serviceFactory = executionContext.GetExtension<IOrganizationServiceFactory>();
            var serviceAdmin = serviceFactory.CreateOrganizationService(null);
            var service = serviceFactory.CreateOrganizationService(workflowContext.UserId);

            tracing?.DebugContext(workflowContext);

            ExecuteWorkflow(workflowContext, serviceFactory, serviceAdmin, service, tracing);
        }

        public void ExecuteWorkflow(IWorkflowContext workflowContext, IWorkflowContext workflowContext, IOrganizationServiceFactory serviceFactory, IOrganizationService serviceAdmin, IOrganizationService service, ITracingService tracing)
        {
            //workflowContext.PreEntityImages.TryGetValue("PreBusinessEntity", out Entity preEntity);
            //workflowContext.PostEntityImages.TryGetValue("PostBusinessEntity", out Entity postEntity);
            //YOUR WORKFLOW-CODE GO HERE

        }
    }
}