<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="3.2.0" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="2.1.0" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="2.1.0" targetFramework="net462" />
  <package id="$FakeXrmEasy.Package$" version="$FakeXrmEasy.Version$" targetFramework="net$FakeXrmEasy.TargetFramework$" />
  <package id="Microsoft.CrmSdk.Deployment" version="$Microsoft.CrmSdk.Deployment.Version$" targetFramework="net$Microsoft.CrmSdk.Deployment.TargetFramework$" />$if$($ShortCrmName$!=2011)
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="$Microsoft.CrmSdk.XrmTooling.CoreAssembly.Version$" targetFramework="net$Microsoft.CrmSdk.XrmTooling.CoreAssembly.TargetFramework$" />$endif$
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="$Microsoft.CrmSdk.CoreAssemblies.Version$" targetFramework="net$Microsoft.CrmSdk.CoreAssemblies.TargetFramework$" />
  <package id="Microsoft.CrmSdk.Workflow" version="$Microsoft.CrmSdk.Workflow.Version$" targetFramework="net$Microsoft.CrmSdk.Workflow.TargetFramework$" />
  <package id="DynamicsCrm.DevKit.Cli" version="$DynamicsCrm.DevKit.Cli.Version$" />
  <package id="DynamicsCrm.DevKit.Analyzers" version="$DynamicsCrm.DevKit.Analyzers.Version$" />
</packages>