<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CrmUrl" value="https://phuoc2018mar06.api.crm.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="UserName" value="admin@Phuoc2018Mar06.onmicrosoft.com" />
    <add key="Password" value="Phuoc2018Mar06" />
  </appSettings>
</configuration>