<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CrmUrl" value="https://crm304614.api.crm5.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="UserName" value="admin@crm304614.onmicrosoft.com" />
    <add key="Password" value="vanphuoc@1180" />
  </appSettings>
</configuration>