<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="3.2.0" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="2.1.0" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="2.1.0" targetFramework="net462" />
  <package id="FakeXrmEasy.9" version="1.57.0" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.23" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.1.0.38" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.23" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.23" targetFramework="net462" />
  <package id="DynamicsCrm.DevKit.Cli" version="2.1.1" />
  <package id="DynamicsCrm.DevKit.Analyzers" version="2.1.1" />
</packages>