<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AuthType" value="OAuth" />
    <add key="Url" value="https://org0b0aa09e.crm.dynamics.com" />
    <add key="Username" value="admin@CRM232358.onmicrosoft.com" />
    <add key="Password" value="3Sg3T4Ya3P" />
    <add key="BrowserType" value="Chrome" />
    <add key="RemoteBrowserType" value="Chrome" />
    <add key="RemoteHubServer" value="http://1.1.1.1:4444/wd/hub" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
