<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="3.2.0" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="$version$" targetFramework="net$NugetNetVersion$" />
  <package id="Microsoft.CrmSdk.Workflow" version="$version$" targetFramework="net$NugetNetVersion$" />
  <package id="FakeXrmEasy.$FakeXrmEasy$" version="$FakeXrmEasyVersion$" targetFramework="net$FakeXrmEasyNetVersion$" />
  <package id="Microsoft.CrmSdk.Deployment" version="$CrmSdkDeploymentVersion$" targetFramework="net$CrmSdkDeploymentNetVersion$" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="$XrmToolingCoreAssemblyVersion$" targetFramework="net$XrmToolingCoreAssemblyNetVersion$" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="4.5.1" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="PL.DynamicsCrm.DevKit.Cli" version="$PLDynamicsCrmDevKitCliVersion$" targetFramework="net452" />
</packages>