<?xml version="1.0" encoding="utf-8"?>
<configuration>$if$($Check$==0)
  <appSettings>
    <add key="AuthType" value="$AuthTypeValue$" />
    <add key="Url" value="$UrlValue$" />
    <add key="$ClientId$" value="$ClientIdValue$" />
    <add key="$ClientSecret$" value="$ClientSecretValue$" />
  </appSettings>$endif$
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v$ProjectNetVersion$" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
