<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="7.1.1" targetFramework="net45" />
  <package id="Microsoft.CrmSdk.Workflow" version="7.1.1" targetFramework="net45" />
  <package id="Dynamics365.UIAutomation.Api" version="9.1.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights" version="2.9.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net462" />
  <package id="Selenium.Chrome.WebDriver" version="2.45" targetFramework="net462" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net462" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="net462" />
  <package id="PL.DynamicsCrm.DevKit.Cli" version="1.2.0" targetFramework="net452" />
  <package id="PL.DynamicsCrm.DevKit.Analyzers" version="1.2.0" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net452" />
</packages>