<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Url" value="" />
		<add key="UserName" value="" />
		<add key="Password" value="" />
		<add key="BrowserType" value="Chrome" />
		<add key="RemoteBrowserType" value="Chrome" />
		<add key="RemoteHubServer" value="http://localhost:4444/wd/hub" />
	</appSettings>
</configuration>
