<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dynamics365.UIAutomation.Api" version="9.0.2.6" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights" version="2.8.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net462" />
  <package id="Selenium.Chrome.WebDriver" version="2.45" targetFramework="net462" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net462" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="net462" />
  <package id="PL.DynamicsCrm.DevKit.Cli" version="$PLDynamicsCrmDevKitCliVersion$" targetFramework="net452" />
</packages>