<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Url" value="$UrlValue$" />
		<add key="UserName" value="$UserNameValue$" />
		<add key="Password" value="$PasswordValue$" />
		<add key="BrowserType" value="Chrome" />
		<add key="RemoteBrowserType" value="Chrome" />
		<add key="RemoteHubServer" value="http://localhost:4444/wd/hub" />
	</appSettings>
</configuration>
