<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dynamics365.UIAutomation.Api" version="9.2.21074.117" targetFramework="net46" />
  <package id="DynamicsCrm.DevKit.Analyzers" version="2.13.33" targetFramework="net462" />
  <package id="DynamicsCrm.DevKit.Cli" version="2.13.33" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.42" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.34" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.42" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.1.0.88" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.2.9" targetFramework="net462" />
  <package id="Microsoft.NETCore.Platforms" version="5.0.3" targetFramework="net462" />
  <package id="Microsoft.NETCore.Targets" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.23" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="2.2.7" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="2.2.7" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="93.0.4577.6300" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Private.Uri" version="4.3.2" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net462" />
</packages>