<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="CrmUrl" value="https://demodevkit.api.crm.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="UserName" value="admin@crm290456.onmicrosoft.com" />
    <add key="Password" value="phuoc.levan@1180" />
  </appSettings>
</configuration>