<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CrmUrl" value="https://crm889331.api.crm5.dynamics.com/XRMServices/2011/Organization.svc"/>
    <add key="UserName" value="admin@CRM889331.onmicrosoft.com"/>
    <add key="Password" value="??????????"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
