<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="DynamicsCrm.DevKit.Cli" version="3.45.67.89" />
	<package id="DynamicsCrm.DevKit.Analyzers" version="3.55.55.55" />
	<package id="Castle.Core" version="5.2.1" targetFramework="net462" />
	<package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.1" targetFramework="net462" />
	<package id="Microsoft.Extensions.Caching.Abstractions" version="10.0.1" targetFramework="net462" />
	<package id="Microsoft.Extensions.Caching.Memory" version="10.0.1" targetFramework="net462" />
	<package id="Microsoft.Extensions.Configuration" version="10.0.1" targetFramework="net462" />
	<package id="Microsoft.Extensions.Configuration.Abstractions" version="10.0.1" targetFramework="net462" />
	<package id="Microsoft.Extensions.Configuration.Binder" version="10.0.1" targetFramework="net462" />
	<package id="Microsoft.Extensions.DependencyInjection" version="10.0.1" targetFramework="net462" />
	<package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.1" targetFramework="net462" />
	<package id="Microsoft.Extensions.Http" version="10.0.1" targetFramework="net462" />
	<package id="Microsoft.Extensions.Logging" version="10.0.1" targetFramework="net462" />
	<package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.1" targetFramework="net462" />
	<package id="Microsoft.Extensions.Options" version="10.0.1" targetFramework="net462" />
	<package id="Microsoft.Extensions.Primitives" version="10.0.1" targetFramework="net462" />
	<package id="Microsoft.Identity.Client" version="4.79.2" targetFramework="net462" />
	<package id="Microsoft.Identity.Client.Extensions.Msal" version="4.79.2" targetFramework="net462" />
	<package id="Microsoft.IdentityModel.Abstractions" version="8.15.0" targetFramework="net462" />
	<package id="Microsoft.PowerPlatform.Dataverse.Client" version="1.2.10" targetFramework="net462" />
	<package id="Newtonsoft.Json" version="13.0.4" targetFramework="net462" />
	<package id="NSubstitute" version="5.3.0" targetFramework="net462" />
	<package id="System.Buffers" version="4.6.1" targetFramework="net462" />
	<package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net462" />
	<package id="System.Diagnostics.DiagnosticSource" version="10.0.1" targetFramework="net462" />
	<package id="System.Formats.Asn1" version="10.0.1" targetFramework="net462" />
	<package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net462" />
	<package id="System.IO.Pipelines" version="10.0.1" targetFramework="net462" />
	<package id="System.Memory" version="4.6.3" targetFramework="net462" />
	<package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net462" />
	<package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net462" />
	<package id="System.Security.AccessControl" version="6.0.1" targetFramework="net462" />
	<package id="System.Security.Cryptography.ProtectedData" version="10.0.1" targetFramework="net462" />
	<package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net462" />
	<package id="System.ServiceModel.Http" version="10.0.652802" targetFramework="net462" />
	<package id="System.ServiceModel.Primitives" version="10.0.652802" targetFramework="net462" />
	<package id="System.Text.Encodings.Web" version="10.0.1" targetFramework="net462" />
	<package id="System.Text.Json" version="10.0.1" targetFramework="net462" />
	<package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net462" />
	<package id="System.ValueTuple" version="4.6.1" targetFramework="net462" />
</packages>