<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CrmUrl" value="https://test-level2.api.crm.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="UserName" value="admin@crm091817.onmicrosoft.com" />
    <add key="Password" value="??????????" />
  </appSettings>
</configuration>