<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="Castle.Core" version="5.1.1" targetFramework="net462" />
	<package id="DynamicsCrm.DevKit.Cli" version="$DynamicsCrm.DevKit.Cli.version$" />
	<package id="DynamicsCrm.DevKit.Analyzers" version="$DynamicsCrm.DevKit.Analyzers.version$" />
	<package id="Microsoft.CrmSdk.CoreAssemblies" version="$Microsoft.CrmSdk.CoreAssemblies.version$" targetFramework="net$Microsoft.CrmSdk.CoreAssemblies.targetFramework$" />
	<package id="Microsoft.CrmSdk.Deployment" version="$Microsoft.CrmSdk.Deployment.version$" targetFramework="net$Microsoft.CrmSdk.Deployment.targetFramework$" />
	<package id="Microsoft.CrmSdk.Workflow" version="$Microsoft.CrmSdk.Workflow.version$" targetFramework="net$Microsoft.CrmSdk.Workflow.targetFramework$" />
	<package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="$Microsoft.CrmSdk.XrmTooling.CoreAssembly.version$" targetFramework="net$Microsoft.CrmSdk.XrmTooling.CoreAssembly.targetFramework$" />
	<package id="Microsoft.CrmSdk.XrmTooling.WpfControls" version="$Microsoft.CrmSdk.XrmTooling.WpfControls.version$" targetFramework="net$Microsoft.CrmSdk.XrmTooling.WpfControls.targetFramework$" />
	<package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.2.8" targetFramework="net462" />
	<package id="Microsoft.Rest.ClientRuntime" version="2.3.24" targetFramework="net462" />
	<package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
	<package id="NSubstitute" version="5.0.0" targetFramework="net462" />
	<package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
	<package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net462" />
	<package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
	<package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
	<package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net462" />
	<package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
</packages>