<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicsCrm.DevKit.Analyzers" version="2.12.31" targetFramework="net462" />
  <package id="DynamicsCrm.DevKit.Cli" version="2.12.31" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreTools" version="9.1.0.79" />
</packages>