<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="DynamicsCrm.DevKit.Cli" version="3.45.67.89" />
	<package id="DynamicsCrm.DevKit.Analyzers" version="3.55.55.55" />
	<package id="Bogus" version="35.6.5" targetFramework="net462" />
	<package id="Castle.Core" version="5.2.1" targetFramework="net462" />
	<package id="FakeItEasy" version="6.2.1" targetFramework="net462" />
	<package id="FakeXrmEasy.Abstractions.v9" version="2.8.0" targetFramework="net462" />
	<package id="FakeXrmEasy.CodeActivities.v9" version="2.6.1" targetFramework="net462" />
	<package id="FakeXrmEasy.Core.v9" version="2.8.0" targetFramework="net462" />
	<package id="FakeXrmEasy.Messages.v9" version="2.8.0" targetFramework="net462" />
	<package id="FakeXrmEasy.Plugins.v9" version="2.8.1" targetFramework="net462" />
	<package id="FakeXrmEasy.v9" version="2.8.0" targetFramework="net462" />
	<package id="Microsoft.ApplicationInsights" version="2.23.0" targetFramework="net462" />
	<package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.1" targetFramework="net462" />
	<package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.60" targetFramework="net462" />
	<package id="Microsoft.CrmSdk.Deployment" version="9.0.2.34" targetFramework="net462" />
	<package id="Microsoft.CrmSdk.Workflow" version="9.0.2.60" targetFramework="net462" />
	<package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.1.1.65" targetFramework="net462" />
	<package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.3.0" targetFramework="net462" />
	<package id="Microsoft.NETCore.Platforms" version="7.0.4" targetFramework="net462" />
	<package id="Microsoft.NETCore.Targets" version="5.0.0" targetFramework="net462" />
	<package id="Microsoft.Rest.ClientRuntime" version="2.3.24" targetFramework="net462" />
	<package id="Microsoft.Testing.Extensions.Telemetry" version="2.0.2" targetFramework="net462" />
	<package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="2.0.2" targetFramework="net462" />
	<package id="Microsoft.Testing.Extensions.VSTestBridge" version="2.0.2" targetFramework="net462" />
	<package id="Microsoft.Testing.Platform" version="2.0.2" targetFramework="net462" />
	<package id="Microsoft.Testing.Platform.MSBuild" version="2.0.2" targetFramework="net462" />
	<package id="Microsoft.TestPlatform.AdapterUtilities" version="18.0.1" targetFramework="net462" />
	<package id="Microsoft.TestPlatform.ObjectModel" version="18.0.1" targetFramework="net462" />
	<package id="MSTest.Analyzers" version="4.0.2" targetFramework="net462" developmentDependency="true" />
	<package id="MSTest.TestAdapter" version="4.0.2" targetFramework="net462" />
	<package id="MSTest.TestFramework" version="4.0.2" targetFramework="net462" />
	<package id="Newtonsoft.Json" version="13.0.4" targetFramework="net462" />
	<package id="System.Buffers" version="4.6.1" targetFramework="net462" />
	<package id="System.Collections.Immutable" version="10.0.1" targetFramework="net462" />
	<package id="System.Configuration.ConfigurationManager" version="10.0.1" targetFramework="net462" />
	<package id="System.Diagnostics.DiagnosticSource" version="10.0.1" targetFramework="net462" />
	<package id="System.IO.Pipelines" version="10.0.1" targetFramework="net462" />
	<package id="System.Memory" version="4.6.3" targetFramework="net462" />
	<package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
	<package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net462" />
	<package id="System.Private.Uri" version="4.3.2" targetFramework="net462" />
	<package id="System.Reflection.Metadata" version="10.0.1" targetFramework="net462" />
	<package id="System.Runtime.Caching" version="10.0.1" targetFramework="net462" />
	<package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net462" />
	<package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net462" />
	<package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
	<package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
	<package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net462" />
	<package id="System.ServiceModel.Http" version="10.0.652802" targetFramework="net462" />
	<package id="System.ServiceModel.Primitives" version="10.0.652802" targetFramework="net462" />
	<package id="System.Text.Encodings.Web" version="10.0.1" targetFramework="net462" />
	<package id="System.Text.Json" version="10.0.1" targetFramework="net462" />
	<package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net462" />
	<package id="System.ValueTuple" version="4.6.1" targetFramework="net462" />
</packages>