<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dynamics365.UIAutomation.Api" version="9.1.0.23435" targetFramework="net46" />
  <package id="DynamicsCrm.DevKit.Analyzers" version="2.2.29" />
  <package id="DynamicsCrm.DevKit.Cli" version="2.2.29" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.28" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.28" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.28" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.1.0.51" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.2.8" targetFramework="net462" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.22" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net45" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net45" />
</packages>