using <#=Context.PluginSharedNameSpace#>;
using <#=Context.PluginSharedNameSpace#>.Test;
using FakeXrmEasy.Plugins;
using Microsoft.VisualStudio.TestTools.UnitTesting;
<#if(Context.HasPluginTestGuardContext){#>using TargetPlugin = <#=Context.TestTargetFullClassName#>;
<#}#>
namespace <#=Context.PluginNameSpace#>
{
    [TestClass]
    public class <#=Context.Class#>Test : FakeXrmEasyTestBase
    {
<#if(Context.HasPluginTestGuardContext){#>
        private const StageEnum PLUGIN_STAGE = StageEnum.<#=Context.PluginStage#>;
        private const string PLUGIN_MESSAGE = "<#=Context.PluginMessage#>";
        private const string PLUGIN_ENTITY_LOGICAL_NAME = "<#=Context.EntityLogicalName#>";
        private const ExecutionModeEnum PLUGIN_EXECUTION_MODE = ExecutionModeEnum.<#=Context.PluginExecution#>;

        [TestMethod]
        public void <#=Context.Class#>Test_00()
        {
            AssertInvalidPluginContext<TargetPlugin>(
                pluginContext => pluginContext.Stage = -1,
                $"Stage does not equals {PLUGIN_STAGE}",
                PLUGIN_STAGE,
                PLUGIN_MESSAGE,
                PLUGIN_ENTITY_LOGICAL_NAME,
                PLUGIN_EXECUTION_MODE);

            AssertInvalidPluginContext<TargetPlugin>(
                pluginContext => pluginContext.MessageName = string.Empty,
                $"MessageName does not equals {PLUGIN_MESSAGE}",
                PLUGIN_STAGE,
                PLUGIN_MESSAGE,
                PLUGIN_ENTITY_LOGICAL_NAME,
                PLUGIN_EXECUTION_MODE);

            AssertInvalidPluginContext<TargetPlugin>(
                pluginContext => pluginContext.PrimaryEntityName = string.Empty,
                $"PrimaryEntityName does not equals {PLUGIN_ENTITY_LOGICAL_NAME}",
                PLUGIN_STAGE,
                PLUGIN_MESSAGE,
                PLUGIN_ENTITY_LOGICAL_NAME,
                PLUGIN_EXECUTION_MODE);

            AssertInvalidPluginContext<TargetPlugin>(
                pluginContext => pluginContext.Mode = -1,
                $"Execution does not equals {PLUGIN_EXECUTION_MODE}",
                PLUGIN_STAGE,
                PLUGIN_MESSAGE,
                PLUGIN_ENTITY_LOGICAL_NAME,
                PLUGIN_EXECUTION_MODE);
        }
<#}else{#>
        [TestMethod]
        public void <#=Context.Class#>Test_00()
        {
            Assert.IsTrue(true);
        }
<#}#>

        [TestMethod]
        public void <#=Context.Class#>Test_01()
        {
            ////setup
            //var json = @"";
            //var remote = TestHelper.DeserializeRemoteExecutionContext(json);
            //var pluginContext = _context.GetDefaultPluginContext();
            //pluginContext.SetXrmFakedContextPlugin(remote);
            ////run
<#if(Context.HasPluginTestGuardContext){#>
            //_context.ExecutePluginWith<TargetPlugin>(pluginContext);
<#}else{#>
            //_context.ExecutePluginWith<YourPlugin>(pluginContext);
<#}#>
            ////result
            Assert.IsTrue(true);
        }

    }
}
