using System.Collections.Generic;
using FakeXrmEasy;
using FakeXrmEasy.CodeActivities;
using Microsoft.VisualStudio.TestTools.UnitTesting;
using <#=Context.PluginSharedNameSpace#>.Test;

namespace <#=Context.PluginNameSpace#>
{
    [TestClass]
    public class <#=Context.Class#>Test : FakeXrmEasyTestBase
    {
        [TestMethod]
        public void <#=Context.Class#>Test_01()
        {
            ////setup
            //var json = @"";
            //var remote = TestHelper.DeserializeRemoteExecutionContext(json);
            //var workflowContext = _context.GetDefaultWorkflowContext();
            //workflowContext.SetXrmFakedContextWorkflow(remote);
            ////run
            //_context.ExecuteCodeActivity<YourWorkflow>(workflowContext);
            ////result
            Assert.IsTrue(true);
        }
    }
}
