<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CmdLine" version="1.0.7.509" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.28" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.28" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.28" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.0.0.7" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.WpfControls" version="9.0.0.7" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.22.302111727" targetFramework="net462" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net462" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net462" />
  <package id="NUglify" version="1.9.9" targetFramework="net462" />
</packages>