<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dynamics365.UIAutomation.Api" version="9.1.0.6210" targetFramework="net46" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.12" targetFramework="net462" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net45" />
  <package id="Selenium.Chrome.WebDriver" version="75.0.0" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net45" />
  <package id="DynamicsCrm.DevKit.Cli" version="2.0.0" />
  <package id="DynamicsCrm.DevKit.Analyzers" version="2.0.0" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net462" />
</packages>