<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dynamics365.UIAutomation.Api" version="9.1.0.11711" targetFramework="net462" />
  <package id="DynamicsCrm.DevKit.Analyzers" version="2.1.1" targetFramework="net462" />
  <package id="DynamicsCrm.DevKit.Cli" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.23" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="2.1.0" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="2.1.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="Selenium.Chrome.WebDriver" version="79.0.0" targetFramework="net462" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net45" />
</packages>