<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="Dynamics365.UIAutomation.Api" version="9.2.21084.148" targetFramework="net46" />
	<package id="DynamicsCrm.DevKit.Analyzers" version="2.13.33" />
	<package id="DynamicsCrm.DevKit.Cli" version="2.13.33" />
	<package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.49" targetFramework="net462" />
	<package id="Microsoft.CrmSdk.Deployment" version="9.0.2.34" targetFramework="net462" />
	<package id="Microsoft.CrmSdk.Workflow" version="9.0.2.49" targetFramework="net462" />
	<package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.1.1.32" targetFramework="net462" />
	<package id="Selenium.Support" version="4.9.1" targetFramework="net60" />
	<package id="Selenium.WebDriver" version="4.9.1" targetFramework="net60" />
	<package id="Selenium.WebDriver.ChromeDriver" version="114.0.5735.9000" />
	<package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.3.0" targetFramework="net462" />
	<package id="Microsoft.NETCore.Platforms" version="7.0.2" targetFramework="net462" />
	<package id="Microsoft.NETCore.Targets" version="5.0.0" targetFramework="net462" />
	<package id="Microsoft.Rest.ClientRuntime" version="2.3.24" targetFramework="net462" />
	<package id="MSTest.TestAdapter" version="3.0.4" targetFramework="net462" />
	<package id="MSTest.TestFramework" version="3.0.4" targetFramework="net462" />
	<package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
	<package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
	<package id="System.Private.Uri" version="4.3.2" targetFramework="net462" />
	<package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net462" />
	<package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
	<package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
	<package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net462" />
</packages>